<section id="ClassMaterials" class="bg-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Class Materials</h2>
        <h3 class="section-subheading text-muted">Day 1</h3>
      </div>
    </div>
    <div class="col-lg-12">
      <ul>
        <li>
          <a class='eventTitle' href="https://github.com/asiadmitchell/GitIntro/blob/master/README.md" target="_blank">Command Line, Version Control with Git and GitHub</a>
          <div class='eventSub'>Asia Mitchell and Ellie Juarez</div>
        </li>
        <li>
          <a class='eventTitle' href="https://minnier.shinyapps.io/ODSI_categoricalData/" target="_blank"> Data Exploration and Statistics: Categorical data</a>
          <div class='eventSub'>Ted Laderas and Jessica Minnier</div>
        </li>
        <li>
          <a class='eventTitle' href="https://minnier.shinyapps.io/ODSI_continuousData/ " target="_blank">Data Exploration and Statistics: Continuous data</a>
          <div class='eventSub'>Ted Laderas and Jessica Minnier</div>
        </li>
        <li>
          <a class='eventTitle' href="https://stenci.la/" target="_blank"> Stencila demonstration</a>
          <div class='eventSub'>Nokome Bentley and Danielle Robinson </div>
        </li>

      </ul>
        <h3 class="section-subheading text-muted">Day 2</h3>
      </div>
    </div>
    <div class="col-lg-12">
      <ul>
        <li>
          <a class='eventTitle' href="https://docs.google.com/presentation/d/1TRVECyugWVPmVs1Rrk2rR5vs9ebHYIsKWPLqTA_4De8/edit" target="_blank">Data Description Introduction</a>
          <div class='eventSub'>Letisha Wyatt</div>
        </li>
        <li>
          <a class='eventTitle' href="https://drive.google.com/file/d/1RjnjwFmQc-BZG7vUUMhx8jHqD1J-NCCx/view
Data Standards (Lilly Winfree): https://docs.google.com/presentation/d/1eMo-BPoC0OQsvG2z3wxh85qQbmSwyoygvjVRyGBNyDs/edit" target="_blank"> Trials and Tribulations of a Biocurator</a>
          <div class='eventSub'>Nicole Vasilevsky</div>
        </li>
        <li>
          <a class='eventTitle' href="https://docs.google.com/presentation/d/1eMo-BPoC0OQsvG2z3wxh85qQbmSwyoygvjVRyGBNyDs/edit" target="_blank">Data Standards</a>
          <div class='eventSub'>Lilly Winfree</div>
        </li>
<br>
        <li>
          <a class='eventTitle' > Data Description exercise:</a>
          <div class='eventSub'>Letisha Wyatt</div>

        </li>
        <ul>
        <li>
          <a class='eventTitle' href="https://docs.google.com/document/d/1uDp0xP8-irS_Axd6CFt4mpcLrtcyPGysBdaLR8kFf3Y/edit" target="_blank"> Data Description exercise instructions</a>

        </li>
        <li>
          <a class='eventTitle' href="https://drive.google.com/file/d/1nLkjuKaeuOM8XbkRcHgB4Ftf1PdH4TiK/view?usp=sharing
" target="_blank">Data Description sample data set</a>
        </li>
        <li>
          <a class='eventTitle' href="https://docs.google.com/document/d/1ldMhIla2icJwhTrkn94jZhLmRPyYnDSuFeImwjBMYlU/edit" target="_blank">Data Dictionary exercise</a>
        </li>
            </ul>
<br>

<li>
          <a class='eventTitle' href="https://drive.google.com/drive/folders/0BwJNLRD3KsqGYTNDRXgySUg5cTg" target="_blank">Data Sharing</a>
          <div class='eventSub'>Robin Champieux</div>
        </li>

<li>
          <a class='eventTitle' href="https://docs.google.com/document/d/1urdKZx4t9SfXlP_44ZJwHF0Ja8XG3YiZlf7sfI7mJOQ/edit" target="_blank">Data Sharing Exercise</a>
          <div class='eventSub'>Nicole Vasilevsky</div>
        </li>
<ul>
        <li>
          <a class='eventTitle' href="https://docs.google.com/spreadsheets/d/1wLzsuPX6nR8il7nH7cdWkty6kmjCow0zWWjnMRH-kc0/edit#gid=0" target="_blank">Data Sharing Exercise Articles</a>
        </li>
        <li>
          <a class='eventTitle' href="https://docs.google.com/spreadsheets/d/1IAseuBDdvjhG-naxhZNjGm9NW15mvptCSk9g_QBTtPY/edit#gid=0" target="_blank">Journal Data Sharing Policy Rubric</a>
        </li>
        <li>
          <a class='eventTitle' href="https://docs.google.com/document/d/1IZXIbYY4OZ0AuvnK-Se8-9OHloTaZNchoGnUZfnn7To/edit" target="_blank">Data Sharing Rubric</a>
        </li>
</ul>
<br>
<li>
          <a class='eventTitle' href="https://docs.google.com/document/d/1A7tGlTMmILE9Fc1p8Brn0x85ifpotPuHXF9iZkRf5C4/edit#" target="_blank"> Mixed Study Methods: How Qualitative and Quantitative Data Inform Each Other</a>
          <div class='eventSub'>Patty Carney</div>
        </li>

      </ul>
        <h3 class="section-subheading text-muted">Day 3</h3>
      </div>
    </div>
    <div class="col-lg-12">
      <ul>
        <li>
          <a class='eventTitle' href="https://docs.google.com/document/d/1kQ6eHLrXl5RPCO7HTxfzKO4Ib80WRtAU095bLCnfpHw/edit#" target="_blank">Elective 1: Analyzing Textual Data</a>
          <div class='eventSub'>Steven Bedrick</div>
        </li>
        <li>
          <a class='eventTitle' href="https://docs.google.com/document/d/1OFBq7j2wRP1wmHLXImBRrUSeBd7KxWcX3RthKAizxUE/edit#heading=h.jfhgevs44qkm">Elective 2: Web Scraping</a>
          <div class='eventSub'>Kyle Banerjee</div>
        </li>
        <li>
          <a class='eventTitle' href="https://docs.google.com/document/d/17P9VIMOBqJSl0VYj8jy8oI1M6vccppPOwLfxoJ2Rj0w/edit#" target="_blank">Elective 1: Data Visualization</a>
          <div class='eventSub'>Steven Bedrick and Jackie Wirz</div>
        </li>
        <li>
          <a class='eventTitle' > Elective 2: Mapping and Geospatial Visualization with QGIS</a>
          <div class='eventSub'>David Percy</div>
        </li>
        
      </ul>
    </div>
  </div>
</section>
