<!-- Events Grid Section -->
    <section id="events" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Schedule</h2>
                    <h3 class="section-subheading text-muted">Tentative Schedule for the OHSU Library Data Science Institute:</h3>
                </div>
            </div>
            
<html>
<head>
<style>

tr:nth-child(1) {
    background-color: #1695A3
;
}
tr:nth-child(11) {
    background-color: #1695A3
;
}
tr:nth-child(20) {
    background-color: #1695A3
;
}
tr:nth-child(2) {
    background-color: #ACF0F2

;
}
tr:nth-child(12) {
    background-color: #ACF0F2

;
}
tr:nth-child(21) {
    background-color: #ACF0F2

;
}
</style>
</head>
<body>

<table style="width:100%">
<table align="center">
<table cellpadding="100">
  <tr>
    <th>Day 1</th>
    <th>Monday, Nov 6</th> 
      <th></th> 
  </tr>
  <tr>
    <td>Time</td>
    <td>Topic</td>
    <td>Instructor(s)</th> 
  </tr>
  <tr>
    <td>9-10AM </td>
    <td>Registration and Welcome</td>
    <td>DSI organizers</th> 
  </tr>
  <tr>
    <td>10-11:30AM </td>
    <td>Version Control with Git and Github</td>
    <td>TBD</th> 
  </tr>
  <tr>
    <td>11:30-1PM </td>
    <td>LUNCH</td>
    <td>Lunch on your own</th> 
  </tr>
  <tr>
    <td>1-2PM </td>
    <td>Data exploration, Part 1</td>
    <td><a href="http://laderast.github.io/" target="_blank">Ted Laderas</a></th>  
  </tr>
  <tr>
    <td>2-2:15PM </td>
    <td>BREAK</td>
    <td></th> 
  </tr>
  <tr>
    <td>2-3PM </td>
    <td>Data exploration, Part 2</td>
    <td><a href="http://laderast.github.io/" target="_blank">Ted Laderas</a></th>
  </tr>
  <tr>
    <td>3-4PM </td>
    <td>Statistical Analysis</td>
    <td><a href="http://www.ohsu.edu/people/jessica-minnier/AFE05953018130F59A91D6FC11AC9E4E" target="_blank">Jessica Minnier</a></th> 
  </tr>
    <tr>
    <td></td>
    <td></td>
  </tr>

<tr>
    <th>Day 2</th>
    <th>Tuesday, Nov 7</th> 
      <th></th> 
  </tr>
  <tr>
    <td>Time</td>
    <td>Topic</td>
    <td>Instructor(s)</th> 
  <tr>
    <td>10-12:30PM </td>
    <td>Data Description, Sharing, and Reuse; Part 1</td>
    <td><a href="http://www.ohsu.edu/people/letisha-wyatt/AFE074DABB7E42EC404070E049E85AA3" target="_blank">Letisha Wyatt</a>, <a href="http://www.ohsu.edu/people/robin-champieux/AFE04F2AE63DD7E739B6BE6A00B02545" target="_blank">Robin Champieux</a>, and <a href="http://www.ohsu.edu/people/nicole-vasilevsky/AFE02EDDEA27ECE3D94EFA42F7295044" target="_blank">Nicole Vasilevsky</a></th> 
  </tr>
  <tr>
    <td>11-11:15AM </td>
    <td>BREAK</td>
    <td></th> 
  </tr>
  <tr>
    <td>11:15-12:30PM </td>
    <td>Data Description, Sharing, and Reuse; Part 2</td>
    <td><a href="http://www.ohsu.edu/people/letisha-wyatt/AFE074DABB7E42EC404070E049E85AA3" target="_blank">Letisha Wyatt</a>, <a href="http://www.ohsu.edu/people/robin-champieux/AFE04F2AE63DD7E739B6BE6A00B02545" target="_blank">Robin Champieux</a>, and <a href="http://www.ohsu.edu/people/nicole-vasilevsky/AFE02EDDEA27ECE3D94EFA42F7295044" target="_blank">Nicole Vasilevsky</a></th> 
  </tr>
  <tr>
    <td>12:30-2PM </td>
    <td>LUNCH</td>
    <td>Lunch on your own</th> 
  </tr>
  <tr>
    <td>2-3PM </td>
    <td>Biomedical Data Standards</td>
    <td><a href="http://www.ohsu.edu/xd/education/library/about/staff-directory/lilly-winfree.cfm" target="_blank">Lilly Winfree</a></th> 
  </tr>
  <tr>
    <td>3-5PM </td>
    <td>Mixed Study Methods: How Qualitative and Quantitative Data Inform Each Other</td>
    <td><a href="http://www.ohsu.edu/xd/education/schools/school-of-medicine/departments/clinical-departments/family-medicine/research-scholarship/patty-carney-phd.cfm" target="_blank">Patty Carney</a></th> 
  </tr>
    </tr>
    <tr>
    <td></td>
    <td></td>
  </tr>

<th>Day 3</th>
    <th>Wednesday, Nov 8</th> 
      <th></th>  
  </tr>
  <tr>
    <td>Time</td>
    <td>Topic</td>
    <td>Instructor(s)</th> 
  <tr>    
  <tr>
    <td>10-12PM </td>
    <td>Elective 1: Analyzing Textual Data</td>
    <td><a href="http://www.ohsu.edu/people/steven-bedrick/AFE030DC0105BCAADF25F347202D56DF" target="_blank">Steven Bedrick</a></th> 
  </tr>
  <tr>
    <td>10-12PM </td>
    <td>Elective 2: Web Scraping</td>
    <td><a href="http://www.ohsu.edu/people/steven-bedrick/AFE030DC0105BCAADF25F347202D56DF" target="_blank">Kyle Banerjee</a></th> 
  </tr>
  <tr>
    <td>12:30-2PM </td>
    <td>LUNCH</td>
    <td>Lunch on your own</th> 
  </tr>
  <tr>
    <td>1:30-3PM </td>
    <td>Elective 1: Data Visualization</td>
    <td><a href="http://www.ohsu.edu/people/steven-bedrick/AFE030DC0105BCAADF25F347202D56DF" target="_blank">Steven Bedrick</a> and <a href="http://www.ohsu.edu/people/jackie-wirz/AFE0340AA0CFBBF14A1E5F3B8B4F8A69" target="_blank">Jackie Wirz</a></th> 
  </tr>
  <tr>
    <td>1:30-3PM </td>
    <td>Elective 2: Mapping and Geospatial Visualization with QGIS   </td>
    <td><a href="https://www.pdx.edu/geology/david-percy" target="_blank">David Percy</a></th> 
  </tr>
  
</table>

</body>
</html>


</div>
            </div>
        </div>
    </section>

             
