  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <a href="https://www.mozillascience.org">
            <img src="{{ site.github.url | replace:'http:','https:' }}/img/logos/LogoTreeHorizonal_v6.png" class="img-responsive img-centered" alt="ODSI" height="400" width="225"> 
          </a>
          <a href="{{ site.github.repository_url }}/blob/master/Code-of-Conduct.md">DSI Code of Conduct | </a>
          <a href= "http://www.ohsu.edu/xd/education/library/">Sponsored by the OHSU Library </a>, funded by the NN/LM-UW. Additional support is from the <a href= "https://www.biocuration.org/">International Society for Biocuration</a> and <a href= "https://www.schrodinger.com/">Schrodinger, Inc</a> and the <a href= "http://www.mlanet.org/">Medical Library Association</a>.
        </div>
      </div>
    </div>
  </footer>
