<section id="friends-and-resources" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Friends and Resources</h2>
        <h3 class="section-subheading text-muted">Groups and resources for coding and research</h3>
      </div>
    </div>
    <div class="col-lg-12">
      <ul>
        <li>
          <a class='eventTitle' href="http://laderast.github.io/" target="_blank">Ted Laderas, PhD</a>
          <div class='eventSub'> OHSU Assistant Professor Ted Laderas has developed an R Bootcamp and other tutorials. It's a great place to start learning R. After you do that, move on to Markdown, ggplot2, and Shiny tutorials!</div>
        </li>
        <li>
          <a class='eventTitle' href="https://software-carpentry.org/lessons/" target="_blank">Software Carpentry</a>
          <div class='eventSub'>Introductory lessons on various topics in computing for research.</div>
        </li>
        <li>
          <a class='eventTitle' href="https://pdxrlang.com/" target="_blank"> Portland's R User Group</a>
          <div class='eventSub'>Meetups in PDX featuring R users talking about their work and learning together.</div>
        </li>
        <li>
          <a class='eventTitle' href="https://www.womenwhocode.com/portland" target="_blank"> Women Who Code PDX</a>
          <div class='eventSub'>Networking, skill building, and professional development meetups.</div>
        </li>
        <li>
          <a class='eventTitle' href="http://wisportland.weebly.com/" target="_blank"> Women in Science PDX</a>
          <div class='eventSub'>Networking, skill building, and professional development meetups for women in STEM fields.</div>
        </li>
        <li>
          <a class='eventTitle' href="http://a4vdis.weebly.com/" target="_blank"> Alliance for Visible Diversity in Science</a>
          <div class='eventSub'>OHSU student-led group for enhancing support of students, postdocs, and faculty of color in grad programs/science.</div>
        </li>
        <li>
          <a class='eventTitle' href="https://github.com/emptymalei/awesome-research" target="_blank">Awesome Research Tools</a>
          <div class='eventSub'>A curated list of tools to help you with research/life</div>
        </li>
        <li>
          <a class='eventTitle' href="https://www.google.com/maps/place/White+Stag+Block,+70+NW+Couch+St,+Portland,+OR+97209/@45.5234161,-122.673188,17z/data=!3m1!4b1!4m5!3m4!1s0x54950a0758106075:0xa43570d83863b762!8m2!3d45.5234124!4d-122.670994" target="_blank">Restaurant Recommendations</a>
          <div class='eventSub'>Some recommended restaurants near the White Stag building</div>
        </li>
      </ul>
    </div>
  </div>
</section>
