<section id="friends-and-resources" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Friends and Resources</h2>
        <h3 class="section-subheading text-muted">Groups and resources for coding and research</h3>
      </div>
    </div>
    <div class="col-lg-12">
      <ul>
        <li>
          <a class='eventTitle' href="https://software-carpentry.org/lessons/" target="_blank">Software Carpentry</a>
          <div class='eventSub'>Introductory lessons on various topics in computing for research.</div>
        </li>
        <li>
          <a class='eventTitle' href="https://pdxrlang.com/" target="_blank"> Portland's R User Group</a>
          <div class='eventSub'>Meetups in PDX featuring R users talking about their work and learning together.</div>
        </li>
        <li>
          <a class='eventTitle' href="https://www.womenwhocode.com/portland" target="_blank"> Women Who Code PDX</a>
          <div class='eventSub'>Networking, skill building, and professional development meetups.</div>
        </li>
        <li>
          <a class='eventTitle' href="http://wisportland.weebly.com/" target="_blank"> Women in Science PDX</a>
          <div class='eventSub'>Networking, skill building, and professional development meetups for women in STEM fields.</div>
        </li>
        <li>
          <a class='eventTitle' href="http://a4vdis.weebly.com/" target="_blank"> Alliance for Visible Diversity in Science</a>
          <div class='eventSub'>OHSU student-led group for enhancing support of students, postdocs, and faculty of color in grad programs/science.</div>
        </li>
        <li>
          <a class='eventTitle' href="https://github.com/emptymalei/awesome-research" target="_blank">Awesome Research Tools</a>
          <div class='eventSub'>A curated list of tools to help you with research/life</div>
        </li>
        <li>
          <a class='eventTitle' href="https://www.google.com/maps/d/viewer?hl=en&hl=en&mid=12a7IQSFUbTXgtZRAWbFKYbJmZEs&ll=45.519183871513555%2C-122.6759171073486&z=14" target="_blank">Restaurant and Hotel Recommendations</a>
          <div class='eventSub'>Some recommended restaurants near the White Stag building. We don't have an official recommended hotel, but the hotels listed on the map offer OHSU discounts. Click each pin for more information.</div>
        </li>
        <li>
          <a class='eventTitle' href="https://github.com/OHSULibrary-DataScienceInstitute/OHSULibrary-DataScienceInstitute.github.io/blob/master/Location.md" target="_blank">White Stag Building: Directions and other information</a>
          <div class='eventSub'>Parking is limited at the White Stag building, but it is easily assessible via public transporation. Click above for more information.</div>
        </li>
      </ul>
    </div>
  </div>
</section>
