<section id="logistics" class="bg-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Logistics</h2>
        <h3 class="section-subheading text-muted">Further information about logisitics for the institute</h3>
      </div>
    </div>
    <div class="col-lg-12">
      <ul>
        <li>
          <a class='eventTitle' href="https://www.google.com/maps/d/viewer?hl=en&hl=en&mid=12a7IQSFUbTXgtZRAWbFKYbJmZEs&ll=45.519183871513555%2C-122.6759171073486&z=14" target="_blank">Restaurant and Hotel Recommendations</a>
          <div class='eventSub'>Some recommended restaurants near the White Stag building. We don't have an official recommended hotel, but the hotels listed on the map offer OHSU discounts. Click each pin for more information.</div>
        </li>
        <li>
          <a class='eventTitle' href="https://github.com/OHSULibrary-DataScienceInstitute/OHSULibrary-DataScienceInstitute.github.io/blob/master/Location.md" target="_blank">White Stag Building: Directions and other information</a>
          <div class='eventSub'>Parking is limited at the White Stag building, but it is easily assessible via public transporation. Click above for more information.</div>
        </li>
      </ul>
    </div>
  </div>
</section>
