<!-- Events Grid Section -->
    <section id="schedule" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Schedule</h2>
                    <h3 class="section-subheading text-muted">All sessions will be held at the White Stag Building, located at 70 NW Couch Street, Portland</h3>
                </div>
            </div>
            
<html>
<head>
<style>

tr:nth-child(1) {
    background-color: #1695A3
;
}
tr:nth-child(12) {
    background-color: #1695A3
;
}
tr:nth-child(22) {
    background-color: #1695A3
;
}
tr:nth-child(2) {
    background-color: #ACF0F2

;
}
tr:nth-child(13) {
    background-color: #ACF0F2

;
}
tr:nth-child(23) {
    background-color: #ACF0F2

;
}
</style>
</head>
<body>

<table style="width:100%">
<table align="center">
<table cellpadding="100">
  <tr>
    <th>Day 1</th>
    <th>Monday</th>
    <th>November 6</th> 
      <th></th> 
  </tr>
  <tr>
    <td>Time</td>
    <th></th>
    <td>Topic</td>
    <td>Instructor(s)</th> 
  </tr>
  <tr>
    <td>9-10AM </td>
    <th></th>
    <td>Registration and Welcome</td>
    <td>DSI organizers</th> 
  </tr>
  <tr>
    <td>10-11:30AM </td>
    <th></th>
    <td><a href="https://docs.google.com/document/d/1KDG-TYoJTSvvgyr94mIlMtB9HVZWxBMI4uuIiN6PFqI/edit#" target="_blank">Introduction to the Command Line, Version Control with Git and Github</a></td>
    <td><a href="https://www.linkedin.com/in/asiadmitchell/" target="_blank">Asia Mitchell</a> and <a href="https://www.linkedin.com/in/eleonora-juarez-phd-48a21351/" target="_blank">Eleonora Juarez</a></th> 
  </tr>
  <tr>
    <td>11:30-1PM </td>
    <th></th>
    <td>LUNCH</td>
    <td>Lunch on your own</th> 
  </tr>
  <tr>
    <td>1-2:30PM </td>
    <th></th>
    <td><a href="https://docs.google.com/document/d/1OEnjE7qz5RnjHrLcA_Y8BA0wv9MJoc0xvQsmpJ9G00o/edit#" target="_blank">Data Exploration and Statistics, Part 1</a></td>
    <td><a href="http://laderast.github.io/" target="_blank">Ted Laderas</a> and <a href="http://www.ohsu.edu/people/jessica-minnier/AFE05953018130F59A91D6FC11AC9E4E" target="_blank">Jessica Minnier</a></th>  
  </tr>
  <tr>
    <td>2:30-2:45PM </td>
    <th></th>
    <td>BREAK</td>
    <td></th> 
  </tr>
  <tr>
    <td>2:45-4PM </td>
    <th></th>
    <td><a href="https://docs.google.com/document/d/1OEnjE7qz5RnjHrLcA_Y8BA0wv9MJoc0xvQsmpJ9G00o/edit#" target="_blank">Data Exploration and Statistics, Part 2</a></td>
    <td><a href="http://laderast.github.io/" target="_blank">Ted Laderas</a> and <a href="http://www.ohsu.edu/people/jessica-minnier/AFE05953018130F59A91D6FC11AC9E4E" target="_blank">Jessica Minnier</a></th>
  </tr>
<tr>
    <td>4-5PM </td>
    <th></th>
    <td><a href="https://github.com/OHSULibrary-DataScienceInstitute/OHSULibrary-DataScienceInstitute.github.io/blob/master/stencila.md" target="_blank">Optional: Stencila demonstation and discussion</a></td>
    <td><a href="https://github.com/nokome" target="_blank">Nokome Bentley</a> and <a href="https://www.linkedin.com/in/danielle-robinson-phd-694996b5/" target="_blank">Danielle Robinson</a></th>
  </tr>
<tr>
    <td>Evening</td>
    <th></th>
    <td>No Host Dine Around | <a href="https://www.google.com/maps/d/viewer?hl=en&hl=en&mid=12a7IQSFUbTXgtZRAWbFKYbJmZEs&ll=45.519183871513555%2C-122.6759171073486&z=14" target="_blank">Click here for suggested restaurants</a></td>
    <td></th>
  </tr>
    <tr>
    <td></td>
    <td></td>
  </tr>

<tr>
    <th>Day 2</th>
    <th>Tuesday</th>
    <th>November 7</th> 
      <th></th> 
  </tr>
  <tr>
    <td>Time</td>
    <th></th>
    <td>Topic</td>
    <td>Instructor(s)</th> 
  <tr>
    <td>10-10:45AM </td>
    <th></th>
    <td><a href="https://docs.google.com/document/d/1VBQc-eXFGjXnKbuazS3xNLaNUhWSmRazZJ_E5Oela0w/edit#" target="_blank">Data Description</a></td>
    <td><a href="http://www.ohsu.edu/people/letisha-wyatt/AFE074DABB7E42EC404070E049E85AA3" target="_blank">Letisha Wyatt</a>, <a href="http://www.ohsu.edu/people/robin-champieux/AFE04F2AE63DD7E739B6BE6A00B02545" target="_blank">Robin Champieux</a>, and <a href="http://www.ohsu.edu/people/nicole-vasilevsky/AFE02EDDEA27ECE3D94EFA42F7295044" target="_blank">Nicole Vasilevsky</a></th> 
  </tr>
  <tr>
    <td>10:45-11AM </td>
    <th></th>
    <td>BREAK</td>
    <td></th> 
  </tr>
  <tr>
    <td>11AM-12:15PM </td>
    <th></th>
    <td><a href="https://docs.google.com/document/d/1VBQc-eXFGjXnKbuazS3xNLaNUhWSmRazZJ_E5Oela0w/edit#" target="_blank">Data Standards</a></td>
    <td><a href="http://www.ohsu.edu/xd/education/library/about/staff-directory/lilly-winfree.cfm" target="_blank">Lilly Winfree</a></th> 
  </tr>
  <tr>
    <td>12:15-1:45PM </td>
    <th></th>
    <td>LUNCH</td>
    <td>Lunch on your own</th> 
  </tr>
  <tr>
    <td>1:45-3PM </td>
    <th></th>
    <td><a href="https://docs.google.com/document/d/1VBQc-eXFGjXnKbuazS3xNLaNUhWSmRazZJ_E5Oela0w/edit#" target="_blank">Data Sharing and Reuse</a></td>
    <td><a href="http://www.ohsu.edu/people/letisha-wyatt/AFE074DABB7E42EC404070E049E85AA3" target="_blank">Letisha Wyatt</a>, <a href="http://www.ohsu.edu/people/robin-champieux/AFE04F2AE63DD7E739B6BE6A00B02545" target="_blank">Robin Champieux</a>, and <a href="http://www.ohsu.edu/people/nicole-vasilevsky/AFE02EDDEA27ECE3D94EFA42F7295044" target="_blank">Nicole Vasilevsky</a></th> 
  </tr>
<tr>
    <td>3-3:15PM </td>
    <th></th>
    <td>BREAK</td>
    <td></th> 
  </tr>
  <tr>
    <td>3:15-5PM </td>
    <th></th>
    <td><a href="https://docs.google.com/document/d/1A7tGlTMmILE9Fc1p8Brn0x85ifpotPuHXF9iZkRf5C4/edit#" target="_blank">Mixed Study Methods: How Qualitative and Quantitative Data Inform Each Other</a></td>
    <td><a href="http://www.ohsu.edu/xd/education/schools/school-of-medicine/departments/clinical-departments/family-medicine/research-scholarship/patty-carney-phd.cfm" target="_blank">Patty Carney</a></th> 
  </tr>
    </tr>
    <tr>
    <td></td>
    <td></td>
  </tr>

<th>Day 3</th>
<th>Wednesday  </th>
    <th> November 8</th> 
      <th></th>  
  </tr>
  <tr>
    <td>Time</td>
    <th></th>
    <td>Topic</td>
    <td>Instructor(s)</th> 
  <tr>    
  <tr>
    <td>10-12PM </td>
    <th></th>
    <td>Elective 1: Analyzing Textual Data</td>
    <td><a href="http://www.ohsu.edu/people/steven-bedrick/AFE030DC0105BCAADF25F347202D56DF" target="_blank">Steven Bedrick</a></th> 
  </tr>
  <tr>
    <td>10-12PM </td>
    <th></th>
    <td><a href="https://docs.google.com/document/d/1OFBq7j2wRP1wmHLXImBRrUSeBd7KxWcX3RthKAizxUE/edit#heading=h.jfhgevs44qkm" target="_blank">Elective 2: Web Scraping</a></td>
    <td><a href="http://www.ohsu.edu/people/kyle-banerjee/AFE0529807D60862CB3CA204DB1C78FC" target="_blank">Kyle Banerjee</a></th> 
  </tr>
  <tr>
    <td>12:30-2PM </td>
    <th></th>
    <td>LUNCH</td>
    <td>Lunch on your own</th> 
  </tr>
  <tr>
    <td>1:30-3PM </td>
    <th></th>
    <td>Elective 1: Data Visualization</td>
    <td><a href="http://www.ohsu.edu/people/steven-bedrick/AFE030DC0105BCAADF25F347202D56DF" target="_blank">Steven Bedrick</a> and <a href="http://www.ohsu.edu/people/jackie-wirz/AFE0340AA0CFBBF14A1E5F3B8B4F8A69" target="_blank">Jackie Wirz</a></th> 
  </tr>
  <tr>
    <td>1:30-3PM </td>
    <th></th>
    <td>Elective 2: Mapping and Geospatial Visualization with QGIS   </td>
    <td><a href="https://www.pdx.edu/geology/david-percy" target="_blank">David Percy</a></th> 
  </tr>
  
</table>

</body>
</html>


</div>
            </div>
        </div>
    </section>

             
